

<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->
<!-- INTERVENTION FORM -->
	<% if user_signed_in? %>
  <%= link_to("Logout", destroy_user_session_path, method: :delete) %>

<%= form_tag "/interventions", method: "post" do %>
<div id="formbackground" style="background-image: url('/assets/background_elevator.jpg');">
	<div class="container  formStyle">
		<div class="row">
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>

        <div class="col-md-6">
          <%= form_with model: @customer do |form| %>
            <label> Customer </label>
            <%= form.select(:customer, Customer.all.collect { |cus| [cus.contact_full_name, cus.id] }, { :include_blank => "Select Customer" }, { class: "form-control" }) %>
            <label>Building</label>
            <%= form.select(:building, Building.all.collect { |bui| [bui.id, bui.customer_id] }, { :include_blank => "Select Building" }, { class: "form-control" }) %>
            <label>Battery</label>
            <%= form.select(:battery, Battery.all.collect { |bat| [bat.date_service_since, bat.building_id] }, { :include_blank => "Select Battery" }, { class: "form-control" }) %>
            <label>Column</label>
            <%= form.select(:column, Column.all.collect { |col| [col.status, col.status] }, { :include_blank => "Select Column" }, { class: "form-control" }) %>
            <label>Elevator</label>
            <%= form.select(:elevator, Elevator.all.collect { |elev| [elev.id, elev.status] }, { :include_blank => "Select Elevator" }, { class: "form-control" }) %>
            <label>Employee</label>
            <%= form.select(:employee, Employee.all.collect { |emp| [emp.firstName, emp.user_id] }, { :include_blank => "Select Employee" }, { class: "form-control" }) %>
            <label> Description </label>
            <textarea class="col-md-12" rows="6"></textarea>
          <% end %>
    </div>

		<div classs="row">
			<div class="col-md-12 d-flex justify-content-center addTo">
				<% # BUTTON SUBMIT %>
				<input class="btn btn-outline-success btn-lg submitBtn intervention_form" type="submit" value="Add the the quote list" />
			</div>
		</div>
	</div>
	<!-- /result inputs -->
</div>
<% end %>

	</li>
	<% else %>
	<li>
	<%= link_to("Login", new_user_session_path) %>  
	<%= form_tag "/intervention", method: "post" do %>
<% end %>
  </li>
<% end %>
